<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class="field">
		<%= f.label :date_of_birth %><br/>
		<%= f.date_select :date_of_birth, :start_year => 1950, :end_year => Time.now.year %>
	</div>

	<div class="field">
		<%= f.label :flickr_username %><br/>
		<%= f.text_field :flickr_username, :placeholder => "flicker.com/photos/username" %> 
	</div>

	<div class="field">
		<%= f.label :instagram_username %><br/>
		<%= f.text_field :instagram_username, :placeholder => "instagram.com/username" %>

	</div>

	<div class="actions"><%= f.submit %></div>
<% end %>















